// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (

);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...


@font-face {
	font-family: "Noto Sans Tamil Regular";
	src: url('../fonts/NotoSansTamil-Regular.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

$barbielila: #9551AD;
$barbiepink: #DD468B;
$barbielightpink: #F9CADC;
$barbienavpills: #E472B3;


body{
	background-image: url("../Pictures/pinkgradient.png");
	background-size:500%;
}

nav > a > img{

}

.nav-pills > li > a.active {
	background-color: $barbiepink !important;
	color: $barbielightpink !important;
}

.nav-link{
	color: $barbiepink !important;
}

i{
	padding: $spacer !important;


p{
	color: $barbielila;
	font-family: "Noto Sans Tamil SemiBold", sans-serif;
	font-size: 1rem;
	padding: 20px;
}
  
h1{
	color: $barbielila;
	font-family: "Noto Sans Tamil Bold", sans-serif;
	font-size: 2rem;
	padding: 20px;
}