// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (

);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...



@font-face {
	font-family: "Noto Sans Tamil Regular";
	src: url('../fonts/NotoSansTamil-Regular.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}

.twoColumns {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.contact{
	color: #ffffff;
	text-align: left;
	font-size: 15px;
	border-radius: 10px;
	background: rgb(114, 108, 89);
	padding: 8px;
	vertical-align: right;
	height: 18px;
	vertical-align: center;
	box-shadow: 2px 5px 6px rgba(57, 48, 48, 0);
}

.right {
	max-width: 100%;
	margin-left: 10px;
}

.SoMe{
	vertical-align: right;
	justify-content: space-evenly;
}

i{
	color: rgb(249, 202, 220);
}


$barbielila: #9551AD;
$barbiepink: #DD468B;
$barbielightpink: #F9CADC;
$barbienavpills: #E472B3;


body{
	background-image: url("../Pictures/pinkgradient.png");
	background-size:500%;
}

nav > a > img{

}

.nav-pills > li > a.active {
	background-color: $barbiepink !important;
	color: $barbielightpink !important;
}

.nav-link{
	color: $barbiepink !important;
}

i{
	padding: $spacer !important;
}


p{
	color: $barbielila;
	font-family: 'Noto Sans Tamil', sans-serif;
	font-weight: 600;
	margin: 0;
}
  
h1{
	color: $barbielila;


	font-family: "Noto Sans Tamil Bold", sans-serif;
	font-size: 2rem;
	padding: 20px;
}


	font-family: "Noto Sans Tamil UI", sans-serif;
	font-weight: 600;
	font-size: 16px;
	font-style: normal;

	font-family: 'Noto Sans Tamil', sans-serif;
	font-weight: bold;
	margin-bottom: 0;
}

.bg-image-logo{
	background-image: url('../Pictures/ikeaXbarbie.png');
	background-size: contain;
	background-position: left;
	background-repeat: no-repeat;
}

/* Font Regular */
@font-face {
	font-family: 'Noto Sans Tamil';
	src: url('../fonts/NotoSansTamil-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Font SemiBold */
@font-face {
	font-family: 'Noto Sans Tamil';
	src: url('../fonts/NotoSansTamil-SemiBold.ttf') format('truetype');
	font-weight: 600; /* SemiBold*/
	font-style: normal;
}

/* Font Bold */
@font-face {
	font-family: 'Noto Sans Tamil';
	src: url('../fonts/NotoSansTamil-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


