// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (

);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...


//Edda & Freisa


$barbielila: #9551AD;
$barbiepink: #DD468B;
$barbielightpink: #F9CADC;
$barbienavpills: #E472B3;


body{
	background-image: url("../Pictures/pinkgradient.png");
	background-size:500%;
}

//Beatriz


h1{
	color: $barbielila;
	font-family: "Noto Sans Tamil", sans-serif;
	font-size: 2rem;
	padding: 2px;
	font-weight: bolder;
	margin-top: 4%;
}

p{
	color: $barbielila;
	font-family: 'Noto Sans Tamil', sans-serif;
	padding: 2px;
	margin-top: 0%;
}

.bg-image-logo{
	background-image: url('../Pictures/barbiegirl.png');
	background-size: 60%;
	background-position: left;
	background-repeat: no-repeat;


}

/* Font Regular */
@font-face {
	font-family: 'Noto Sans Tamil';
	src: url('../fonts/NotoSansTamil-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Font SemiBold */
@font-face {
	font-family: 'Noto Sans Tamil';
	src: url('../fonts/NotoSansTamil-SemiBold.ttf') format('truetype');
	font-weight: 600; /* SemiBold*/
	font-style: normal;
}

/* Font Bold */
@font-face {
	font-family: 'Noto Sans Tamil';
	src: url('../fonts/NotoSansTamil-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

// Daniel

.twoColumns {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


.right {
	max-width: 100%;
	margin-left: 10px;
}

.SoMe{
	vertical-align: right;
	justify-content: space-evenly;
}

i{
	color: rgb(249, 202, 220);
	padding: $spacer !important;
}